preview.cxx
preview.h
resize.cxx
resize.h
config.h
about.cxx
about.h
*.o
miniresizer
*.cmake
!/src/cmake_modules/*.cmake
CMakeFiles/
CMakeCache.txt
*.exe
*.obj
Makefile
install_manifest.txt
/.clangd/
/src/win32-toolchain.cmake
