build*/
dist/
miniresizer.cxx
miniresizer.h
config/
autom4te.cache/
aclocal.m4
configure
Makefile.in
src/Makefile.in
Makefile
src/Makefile
config.h.in
config.h
src/*.o
stamp-h1
src/.deps/
src/miniresizer
config.*
*.cmake
CMakeFiles/
CMakeCache.txt
